cd "C:\Users\somas\Desktop\scraper"

@"
.venv/
__pycache__/
*.pyc

task1/

debug/
downloads/
OUTPUT/
output/
outputs/

*.xlsx
*.xls
*.csv
*.html

.env
.DS_Store

!samples/
!samples/**

"@ | Set-Content -Encoding UTF8 .gitignore